.navNewsList .ant-card-body{
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.navNewsList li{
    display: flex;
    margin-bottom: 0.5rem;
}
.navNewsList .newsimgGroup{
    flex: 0 0 30%;
    margin-right: 0.5rem;
}
.navNewsList .newsimgGroup img{
    width: 100%;
    float: left;
    border-radius: 0.3rem;
}
.navNewsList .newsDesGroup{
    flex: 1;
}
.navNewsList .newsType{
    margin-right: 0.5rem;
    color: red;
}
.navNewsList .newsAuthor{
    color: #ccc;
}
.navNewsList .newsTitle a{
    color: #000;
}
.navNewsList .newsTitle{
    max-height: 2.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}