.newsImageBlock{
    margin-top: 0.5rem;
}
.newsImageBlock .ant-card-body{
    padding: 0px 6px;
    box-sizing: content-box;
}
.newsImageBlock .newsImageItem {
    padding: 12px 6px;
    float: left;
}
.newsImageBlock .newsImageItem h3{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
}
.newsImageBlock .newsImageItem .custom-image:hover h3{
    color: red;
}