.detailNew{
    font-size: 1rem;
    font-family: '微软雅黑';
    padding: 0px 0.5rem;
}
.detailNew .src{
    color: #bb0707;
}
.detailNew .txt{
    margin: 0.2rem 0;
}
.detailNew img{
    max-width: 100%;
    width: 600px;
    height: auto;
    display: block;
    margin: 1rem auto;
}
.detailNew .article-content{
 margin-top: 0.8rem;
 padding-top: 0.8rem;
 border-top: 2px solid #ccc;
}