/* Base Application Styles */
html {
  font-size: 10px;
  font-family: "Times New Roman",Georgia,Serif;
  min-height: 100%;
}
body {
  background-color: #F5F5F5;
  min-height: 100%;
}

#app{
  padding-bottom: 7rem;
}